<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0TDB5SQ\SQLEXPRESS;initial catalog=Event_Management2;user id=sa;password=sa9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=tcp:galmobileapp.database.windows.net,1433;initial catalog=dev_galmobileapp;integrated security=False;User ID=stadmin;Password=mobi123zyz!#;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=SALESEDGESRV-1\MSSQL2014;initial catalog=Event_Management2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=tcp:galmobileapp.database.windows.net,1433;initial catalog=dev_galmobileapp;integrated security=False;User ID=stadmin;Password=mobi123zyz!#;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Event_Management2;persist security info=True;Integrated Security=true;  MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> </connectionStrings>-->
  </connectionStrings>
  <appSettings>
    <add key="FirebaseSID" value="AAAAsOp8HE4:APA91bEy8Z8bVtafogjXwelkiWI1KoYt4Slv1WCbe8yreVJkKmo14aKlomMfuj0Wvp_r2poZvf9kYGanjqX7Er9mfWfo77X2wopt4jAWnESr68zfr7N4qPjmBrl9iZTdQBi64K4TkTl3" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.37.0.0" newVersion="1.37.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.37.0.0" newVersion="1.37.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>