<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=SALESEDGESRV-1\MSSQL2014;initial catalog=EventManagement_Phase3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

 <!--<connectionStrings><add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SALESEDGESRV-1\MSSQL2014;initial catalog=Event_Management2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>-->
 <connectionStrings>
   <add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SALESEDGESRV-1\MSSQL2014;initial catalog=EventManagement_Phase3;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>
</configuration>
