<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>


  <!--<system.webServer>

    <staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
    </staticContent>

  </system.webServer>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImageSaveDir" value="~/ImageFile" />
    <add key="VideoSaveDir" value="~/VideoFile" />
    <add key="DocsSaveDir" value="~/DocFiles" />
    <add key="GalacticApi" value="https://test.galacticps.com/" />
    <add key="GalacticSecretKey" value="816B91C31FCFB" />
    <add key="UrbanUser" value="EO5GAsPDSCymSs9z0OJoxQ" />
    <add key="UrbanMaster" value="lqZrck-hSVaJf2Kt_IZI8A" />
    <add key="owneremail" value="galmobdev@gmail.com" />
    <add key="jsonkeysfile" value="google-drive-settings.json" />
    <add key="TwilioAccountSid" value="ACc209bec19fbee5d04ca5793d84362f6f" />
    <add key="TwilioAuthToken" value="051e8a44ff5e6d20e6a8d87498929c8b" />
    <add key="TwilioApiKey" value="SK8dd7e99c900d4087c237094c66174b9d" />
    <add key="TwilioApiSecret" value="4uqXn9lCXIV2fy0AY9dn6oQIFHjDdPeB" />
    <add key="TwilioChatServiceSid" value="ISddf7eda1fe124a4e8007f48d8c42e99f" />
    <add key="TwilioPushCredentialSid" value="CR012e8a11bab40f2ab6e037475ab4449d" />
    <add key="FirebaseSID" value="AAAAtsRmieQ:APA91bE8QpFe3YvD43efNE6EJlDi_uVyLIT8uMRUZ8vPzbdpxWWxn_GW80a1LhnrqhAdxbKMiDbzKe1L5D__pzTxhCyPOJIrmfKa8Fxi1hf9UJ-ORGeHM7ldBYHYl-3ovjgmv9sihzWQ" />
    <add key="fromAddress" value="galmobdev@gmail.com" />
    <add key="toAddress" value="galmobdev@gmail.com" />
    <add key="emailHost" value="smtp.gmail.com" />
    <add key="userID" value="sgitest0@gmail.com" />
    <add key="pwd" value="Inrhythm" />
    <add key="timeoutMin" value="150" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0TDB5SQ\SQLEXPRESS;initial catalog=Event_Management2;user id=sa;password=sa9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=tcp:galmobileapp.database.windows.net,1433;initial catalog=dev_galmobileapp;integrated security=False;User ID=stadmin;Password=mobi123zyz!#;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=SALESEDGESRV-1\MSSQL2014;initial catalog=GroupChat;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=SALESEDGESRV-1\MSSQL2014;initial catalog=Event_Management_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=tcp:galmobileapp.database.windows.net,1433;initial catalog=dev_galmobileapp;integrated security=False;User ID=stadmin;Password=mobi123zyz!#;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Event_Management2;persist security info=True;Integrated Security=true;  MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> </connectionStrings>-->
  </connectionStrings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Log.txt" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="150MB" />
      <staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <system.net>
    <defaultProxy useDefaultCredentials="false" />
  </system.net>
  <system.web>

    <compilation targetFramework="4.5.2" debug="true" />

    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.37.0.0" newVersion="1.37.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.37.0.0" newVersion="1.37.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>